
<div class="jumbotron" style="background: #23222d;">
	<h1 class="display-4">TIE (The Impower Eye)</h1>
	<p class="lead">GET MORE OUT OF LIFE</p>
	<hr class="my-4">
	<p>TIE will help you make your life more productive, keeps you on the right track.</p>
	<a class="btn btn-primary btn-lg" href="/users/login" role="button">Log In</a>
	<a class="btn btn-primary btn-lg" href="/users/signup" role="button">Sign Up</a>
</div>