
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8" style="height: 600px; margin-top:20px;">
        <div id="map">
            
        </div>
      </div>
      <div class="col-xs-12 col-md-4" style="background: #e2469c;">
        <div id="info">
          <h2>Developer Career Info:</h2>
          <!-- <p>M 4.2 - 1km ESE of Fontana, California / 123 hours ago </p> -->
        </div>
      </div>
    </div>
  </div>