<!DOCTYPE html>
<html>
<head>
	<title>Welcome to the TIE (THE IMPOWER EYE)</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
    <!-- CSS -->
    <style>
        body{
            background: #181521; 
			color: #fff;
			background-image: url('https://i.imgur.com/7WEN7Ns.png'); 
			background-size: cover;

        }
	</style> 
</head>
<body>
    
	<% if (loggedIn) { %>
		<%- include('navbar') %>
	<% } %>
    <div class="container" style="background: #23222d;">
            
        <%- body %>
        
	</div>

<footer>
	Powered by NewsAPI
</footer>
</body>
</html>