<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" disabled>TIE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/users/profile">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/profile/Goals">Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/profile/info">Info</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Controls
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/users/profile/goals">All Goals</a>
                <a class="dropdown-item" href="/users/profile/goals/createGoal">Add New Goal</a>
                <a class="dropdown-item" href="/users/profile/edit">Edit Profile</a>
                <a class="dropdown-item" href="/users/profile/delete">Delete Profile</a>
                <a class="dropdown-item" href="/users/logout">Log Out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>